<h1 class="ui center aligned header">General Spam</h1>

<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">

{{#if spam}}
	<table id="spamtable" class="ui fixed single line celled table">
		<thead><tr>
			<th>Phone Number</th>
			<th>Spam Type</th>
			<th>Call Contents</th>
			<th>Number of Reports</th>
			<th>How to Unsubscribe</th>
		</tr></thead>
	{{#each spam}}
		<tr>
		<td><a href="/number/{{this.phonenum}}">{{this.phonenum}}</a></td>
		<td>{{this.calltype}}</td>
		<td>{{this.callcontent}}</td>
		<td>{{this.reports}}</td>
		<td>{{this.howtounsub}}</td>
		</tr>
	{{/each}}
	</table>
{{else}}
	<p>No spam reports yet.</p>
{{/if}}

</div>
</div>